@import "./base.css";
@import "./disignSystem.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0.5;
}

.finder_shadow_in {
  box-shadow: inset -1px 0px 0px rgba(38, 38, 38, 0.4),
    inset 0px -1px 0px rgba(38, 38, 38, 0.4), inset 1px 0px 0px #ffffff,
    inset 0px 1px 0px #ffffff;
}
.finder_shadow_out {
  box-shadow: -1px 0px 0px rgba(38, 38, 38, 0.4),
    0px -1px 0px rgba(38, 38, 38, 0.4), 1px 0px 0px #ffffff, 0px 1px 0px #ffffff;
}
